#
# Copyright 2013-2018 Bernhard Arnold <bernahrd.arnold@cern.ch>
#                     Johannes Wittmann <johannes.wittmann@cern.ch>
#
# Default GT MP7 setup
#

# Enable algorithm BX mask memories.
gt_mp7_gtlfdl.control.en_algo_bx_mem true
